<p>play-list-details works!</p>
<div>
    <button (click)="play()">Play</button> <button (click)="pause()">Pause</button>
    <table>
        <tbody>
            <ng-container *ngFor="let item of playlist.tracks.items">
                <tr *ngIf="isTrack(item.track)">
                    <td>{{item.track.name}}</td>
                    <td>{{item.track.album.name}}</td>
                    <td><span *ngFor="let artst of item.track.artists">{{artst.name}} </span></td>
                </tr>
                <tr *ngIf="!isTrack(item)">
                    ass
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>