<div>
    <div>
        <h1>{{playlist.name}}</h1>
    </div>
    <div>
        <div>
            <img src="{{playlistCoverUrl}}">
        </div>
        <div>
            <h2>{{currentSong}}</h2>
        </div>
    </div>
</div>
<div>
    <button (click)="previous()">Previous</button><button (click)="play()">Play</button> <button (click)="pause()">Pause</button> <button (click)="next()">Next</button>
    <table>
        <tbody>
            <ng-container *ngFor="let item of playlist.tracks.items">
                <tr *ngIf="isTrack(item.track)">
                    <td>{{item.track.name}}</td>
                    <td>{{item.track.album.name}}</td>
                    <td><span *ngFor="let artst of item.track.artists">{{artst.name}} </span></td>
                </tr>
                <tr *ngIf="!isTrack(item)">
                    ass
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>